.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 $spacing-1;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    appearance: none;
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    will-change: color, border-color;
    transition-property: color, border-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;

    svg {
        transition-property: fill;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
    }

    &:hover,
    &:focus {
        outline: 0;
    }
}

.Button--outline {
    font-size: 12px;
    color: $color-pink;
    letter-spacing: 0.86px;
    border: 2px solid $color-pink;
    border-radius: 10px;
    padding: $spacing-2 $spacing-3;

    &:hover,
    &:focus {
        color: $color-blue;
        border: 2px solid $color-blue;

        svg {
            fill: $color-blue;
        }
    }
}

.Button-text {
    margin-left: $spacing-1;
}
