$color-black-text: rgba(0,0,0,0.87);

$color-black: #030303;
$color-blue: #0000ff;
$color-pink: #ff00ff;
$color-white: #ffffff;
$color-gray: #554d44;

$_spacing-unit: 0.25rem;

$spacing-1: 1 * $_spacing-unit;
$spacing-2: 2 * $_spacing-unit;
$spacing-3: 3 * $_spacing-unit;
$spacing-4: 4 * $_spacing-unit;
$spacing-5: 5 * $_spacing-unit;
$spacing-6: 6 * $_spacing-unit;
$spacing-7: 7 * $_spacing-unit;
$spacing-8: 8 * $_spacing-unit;
$spacing-9: 9 * $_spacing-unit;
$spacing-10: 10 * $_spacing-unit;
$spacing-11: 11 * $_spacing-unit;
$spacing-12: 12 * $_spacing-unit;
$spacing-r4: 4 * 4 * $_spacing-unit;
$spacing-r5: 5 * 4 * $_spacing-unit;
$spacing-r6: 6 * 4 * $_spacing-unit;
$spacing-r7: 7 * 4 * $_spacing-unit;

$screen-xs-min: 48em;

@mixin media-xs-min {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
}
