@import 'assets/scss/config';

.Control {
    position: relative;
    padding-bottom: $spacing-6;
}

.Control-smallSpace {
    padding-bottom: $spacing-4;
}

.Control-group {
    padding-bottom: $spacing-3;
}

.Control-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    padding: $spacing-3 0;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.38);
    transition: all 200ms;
    cursor: text;
}

.Control-input {
    display: block;
    width: 100%;
    padding: $spacing-3 0;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    outline: 0;
    transition: box-shadow ease-in-out 0.15s;
    will-change: box-shadow;

    &:focus,
    &:valid {
        box-shadow: 0 2px 0 $color-blue;
    }
}

.Control-input:focus + .Control-label,
.Control-input:valid + .Control-label {
    font-size: 12px;
    transform: translate3d(0, -60%, 0);
    padding: 0;
    cursor: default;
}

.Control--hideLabel .Control-input:focus + .Control-label,
.Control--hideLabel .Control-input:valid + .Control-label {
    display: none;
}

.Control-error {
    position: relative;
    top: $spacing-1;
    font-size: 13px;
    color: $color-pink;
}

.Control-removeField {
    @extend .Button;

    font-size: 10px;
    position: absolute;
    top: 18px;
    right: 0;

    &:focus {
        text-decoration: underline;
    }
}
