.Heading {
    color: $color-blue;
}
.Heading--1 {
    font-size: 24px;
    line-height: 1.3;
}
.Heading--2 {
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: $spacing-3;
}
.Heading--3 {
    font-size: 17px;
    line-height: 1.3;
    padding-bottom: $spacing-3;
}
.Heading--4 {
    font-size: 14px;
}
