.Icon {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;

    path {
        vector-effect: non-scaling-stroke;
    }
}

.Icon--inText {
    position: relative;
    top: -0.0625em;
}
