.Container {
    min-width: 280px;
    max-width: 700px;
    padding: 0 $spacing-3;
    margin: 0 auto;
}

.Container--biggerOffset {
    padding: 0 $spacing-8;
}

.Section {
    padding: $spacing-6 0;
}

.Section--big {
    padding: $spacing-6 $spacing-9;
}

.Row {
    display: flex;
    flex-direction: row;
}

.Row-left {
    flex: 1 1 0;
}

.Media {
    display: flex;
    align-items: flex-start;
}

.Media-object {
    margin-right: $spacing-4;
}

.Media-body {
    flex: 1;
}
