* {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style: none;
}

ul li {
    position: relative;
    line-height: 1.3;
    padding-left: $spacing-5;
    padding-bottom: $spacing-1;
    margin-left: $spacing-2;

    &::before {
        content: '•';
        position: absolute;
        left: 0;
        display: inline-block;
    }
}

