.u-colorBlue {
    color: $color-blue;
}

.u-colorGray {
    color: $color-gray;
}

.u-colorPink {
    color: $color-pink;
}

.u-colorWhite {
    color: $color-white;
}

.u-backgroundBlue {
    background-color: $color-blue;
}

.u-pb--6 {
    padding-bottom: $spacing-6;
}
.u-pt--4 {
    padding-top: $spacing-4;
}

.u-roundImage {
    border-radius: 5px;
}

.u-textCenter {
    text-align: center;
}

.u-upperCase {
    text-transform: uppercase;
}
.u-positionRelative {
    position: relative;
}

.u-inlineBlock {
    display: inline-block;
}

.u-flex-alignItemsCenter {
    align-items: center;
}
