.Star:not(.Star--disabled) {
    cursor: pointer;
}

.Star:last-child {
    padding-right: 0;
}

.Star--disabled {
    cursor: default;
}

.Star--full {
    opacity: 1;
}

.Star--empty {
    opacity: 0.3;
}

.Star--small {
    padding-right: 4px;
}

.Star--medium {
    padding-right: 8px;
}

.Star--big {
    padding-right: 12px;
}
