@import '../../assets/scss/config';

.RecipeCard {
    display: flex;
    padding: 0 $spacing-4 $spacing-6;
    margin-bottom: $spacing-6;
    border-bottom: 1px solid #f6f6f6;
    color: $color-black;
    text-decoration: none;

    @include media-xs-min {
        display: inline-block;
        width: 50%;
        padding: 0 0 $spacing-6;
    }
}

.RecipeCard-title {
    font-size: 17px;
    color: $color-blue;
    line-height: 1.2;
    padding-bottom: $spacing-1;
}

.RecipeCard-stars {
    padding-bottom: $spacing-2;
}
