@import '../../assets/scss/config';

.Bar {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
    padding: $spacing-4 0;
}

.Bar--recipeDetail {
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: none;
}

.Bar-previous {
    position: relative;
    left: 0;
}

.Bar-content {
    padding-left: $spacing-4;
    color: $color-black-text;
    font-size: 20px;
    line-height: 1.4;
    vertical-align: middle;
}
