@import '../../assets/scss/config';

.RecipeHeaderImage {
    position: relative;
    color: $color-white;
    min-height: 360px;

    @include media-xs-min {
        max-width: 750px;
        margin: 0 auto;
    }
}

.RecipeHeader-overlay {
    position: relative;
    margin: 0 auto;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        opacity: 0.7;
        background-image: linear-gradient(180deg, #030303 0%, rgba(0, 0, 0, 0.6) 100%);
    }
}

.RecipeHeaderImage-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.RecipeHeaderImage-additional {
    width: 100%;
    background: $color-pink;
    padding: $spacing-4 0;
}

.RecipeHeaderImage-title {
    font-size: 24px;
    line-height: 1.3;
    color: $color-white;
    margin-bottom: $spacing-8;
}
